@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
    font-family: 'Rubik', sans-serif !important;
}

body {
    background-image:
        url("https://www.toptal.com/designers/subtlepatterns/uploads/grey.png"),
        linear-gradient(rgba(117, 117, 117, 0.5), rgba(41, 43, 47, 0.8));
    background-blend-mode: overlay;
}
